[Unit]

Description = BG3 Wiki Job Runner

After = mariadb.service
After = php8.4-fpm.service
After = nginx.service
After = elasticsearch.service

[Service]

User = www-data
ProtectSystem = full
WorkingDirectory = /var/www/bg3/w

Restart = always
ExecStart = php maintenance/run.php runJobs \
	--wait --maxjobs 100 --maxtime 300 \
	--memory-limit 512M --quiet

Nice = 19
IOSchedulingClass = idle

MemoryMax = 2G
MemoryHigh = 1G

OOMScoreAdjust = 800

StandardOutput = append:/var/log/bg3wiki-job-runner.log
StandardError = append:/var/log/bg3wiki-job-runner.log

[Install]

WantedBy = multi-user.target
