[Unit]

Description = BG3 Wiki Job Runner

After = mariadb.service
After = php8.4-fpm.service
After = nginx.service
After = elasticsearch.service

StartLimitBurst = 20
StartLimitIntervalSec = 1s

[Service]

User = www-data
ProtectSystem = full
WorkingDirectory = /var/www/bg3/w

# We don't want it to restart on OOM.
Restart = on-success
OOMScoreAdjust = 200

RestartSec = 0

ExecStart = php maintenance/run.php runJobs \
	--wait --maxjobs 300 --maxtime 900 \
	--memory-limit 512M --quiet

MemoryMax = 2G
MemoryHigh = 1G

# This may be a bit too aggressive
#Nice = 19
#IOSchedulingClass = idle

Nice = 10

StandardOutput = append:/var/log/bg3wiki-job-runner.log
StandardError = append:/var/log/bg3wiki-job-runner.log

[Install]

WantedBy = multi-user.target
